.forgot-pw-form {
  .ui.form .field {
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 14px;

    button {
      max-width: 100%;
      width: 100%;
      margin: 0;
      background-color: var(--primary);
      color: var(--white);
    }
  }
}
