$desktop: 1280px;

#sub-categories-page {
  width: 100%;

  @media screen and (min-width: $desktop) {
    padding: 24px 0;
  }

  p {
    text-align: center;
    color: var(--gray_light);
  }

  .products {
    width: 100%;
  }

  .column {
    width: calc(100% / 2);
    display: inline-flex;

    @media screen and (min-width: $desktop) {
      width: calc(100% / 5);
    }
  }
}
