$desktop: 1280px;

#store-top-nav {
  color: var(--primary);

  @media screen and (min-width: $desktop) {
    color: var(--white);
  }

  .first {
    // background-color: var(--primary_dark);

    // tab new
    background-color: var(--primary_dark);


    li {
      line-height: 40px;

      &.display {
        flex-grow: 3;
        text-align: left;

        .size1 {
          font-size: 12px;
          padding: 0 8px;
        }

        .size2 {
          font-size: 14px;
          padding: 0 8px;
        }

        .size3, .sun, .moon {
          font-size: 16px;
          padding: 0 8px;
        }
      }

      &.empty {
        flex-grow: 15;
      }

      &.user {
        position: relative;
        cursor: pointer;

        &:hover {
          ul {
            display: block;
          }
        }

        ul {
          position: absolute;
          bottom: -40px;
          left: -100px;
          height: 100%;
          display: none;
          border-radius: 5px;
          -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.2);
          -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.2);
          box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.2);

          li {
            width: 200px;
            line-height: 40px;
            text-align: left;
            padding: 8px 8px;
            background-color: white;
            cursor: pointer;
            color: var(--primary);
            border-bottom: solid 1px var(--primary_soft);


            &:hover {
              color: var(--primary_dark);
            }

            a {
              color: var(--primary);

              &:hover {
                color: var(--primary_dark);
              }
            }
          }
        }
      }
    }
  }

  .first-mobile .size1 {
    font-size: 12px;
    padding: 0 0px;
  }

  .first-mobile .size2 {
    font-size: 14px;
    padding: 0 0px;
  }

  .first-mobile .size3, .sun, .moon {
    font-size: 16px;
    padding: 0 0px;
  }

  .second {
    background-color: var(--primary);
    background-image: var(--primary_gradient);

    li {
      line-height: 80px;

      &.logo {
        flex-grow: 1;

        a {
          height: 80px;

          img {
            height: 70%;
            vertical-align: middle;
          }
        }
      }

      &.search {
        flex-grow: 16;
      }

      h3 {
        color: var(--white);
        margin-bottom: 0;
      }
    }
  }

  li {
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;

    &.search {
      flex-grow: 4;
    }

    a {
      color: var(--primary);
      display: block;
      text-decoration: none;

      @media screen and (min-width: $desktop) {
        color: var(--white);
      }
    }
  }
}
