$dekstop: 1280px;

form {
  width: calc(100% - 32px);
  padding: 16px;

  input {
    width: 100%;
    margin-bottom: 16px;
    line-height: 40px;
    outline: none;
    font-size: 16px;
    border-radius: none;
    border: none;
    border-bottom: 1px solid var(--gray_light);

    &:focus {
      border-bottom: 1px solid var(--primary);
    }
  }

  textarea {
    display: block;
    width: 100%;
    font-size: 16px;
    border: none;
    border: 1px solid var(--gray_light);
    min-height: 100px;
    outline: none;
  }

  select {
    outline: none;
  }

  button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 16px;
  }

  .form-group {
    display: flex;

    .form-field {
      width: 100%;
    }
  }

  .form-field {
    flex-grow: 1;
    padding: 8px;

    @media screen and (min-width: $desktop) {
      padding: 16px;
    }
  }
}
