$dekstop: 1280px;

form {
  padding: 16px;

  .form-group {
    display: block;

    @media screen and (min-width: $desktop) {
      display: flex;

      .form-field {
        width: 100%;
      }
    }
  }

  .form-field {
    padding: 8px;

    @media screen and (min-width: $desktop) {
      flex-grow: 1;
      padding: 16px;
    }

    label {
      margin-bottom: 8px;
    }
  }

  .react-datepicker-wrapper, .react-datepicker__input-container {
    width: 100%;
  }
}

input {
  width: 100%;
  margin-bottom: 16px;
  line-height: 40px;
  outline: none;
  font-size: 16px;
  border-radius: none;
  border: none;
  border-bottom: 1px solid var(--gray_light);

  &:focus {
    border-bottom: 1px solid var(--primary);
  }

  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &.error {
    border-bottom-color: var(--error);
  }
}

textarea {
  display: block;
  width: 100%;
  font-size: 16px;
  border: none;
  border: 1px solid var(--gray_light);
  min-height: 100px;
  outline: none;

  &.error {
    border-color: var(--error);
  }
}

select {
  outline: none;
  font-size: 16px;

  &.error {
    border-color: var(--error);
  }
}

button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 16px;
}
