$desktop: 1280px;

.container {
  max-width: $desktop;
  width: 100%;
  margin: auto;

  @media screen and (min-width: $desktop) {
    width: calc(100% - 32px);
    padding: 0 16px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;

  li {
    flex-grow: 1;
  }
}

.mobile {
  display: block !important;

  @media screen and (min-width: $desktop) {
    display: none !important;
  }
}

.desktop {
  display: none !important;

  @media screen and (min-width: $desktop) {
    display: block !important;
  }
}
