$desktop: 1280px;

body,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  line-height: auto;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

body,
p {
  font-size: var(--body_size);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

h4, li, a {
  font-size: 1em;
  outline: none;
}

h5 {
  font-size: var(--small_size);
}

.age-first {
  font-size: 16px !important;

  .ui.header {
    font-size: 20px !important;
  }

  .other {
    font-size: 16px !important;
    font-weight: 300 !important;
    color: #181818 !important;
  }
  .othertoright {
    font-size: 28px !important;
    @media screen and (max-width: 767px) {
      float: right !important;
    }
  }

  h4,
  label,
  p,
  th,
  td,
  .rating {
    font-size: 16px !important;
  }
}

.age-second {
  font-size: 20px !important;

  h4,
  label,
  p,
  th,
  td,
  .rating {
    font-size: 20px !important;
  }

  @media screen and (min-width: $desktop) {
    font-size: 24px !important;

    h4,
    label,
    p,
    th,
    td,
    a,
    .rating {
      font-size: 21px !important;
      // line-height: 25px !important;
    }
  }
}

.age-third {
  font-size: 28px !important;

  h4,
  label,
  p,
  th,
  td,
  .rating {
    font-size: 28px !important;
  }

  @media screen and (min-width: $desktop) {
    font-size: 34px !important;

    h4,
    label,
    p,
    th,
    td,
    a,
    .rating {
      font-size: 34px !important;
      // line-height: 38px !important;
    }
  }
}

.theme-dark {
  background-color: darken(#555, 15%);
  height: 100%;

  h1, h2, h3, h4, h5, p, a {
    color: var(--secondary) !important;
  }

  a, li {
    color: #F7CA18;

    &.active {
      background-color: darken(#555, 15%) !important;
    }
  }
}
