.add-product-form {
  text-align: left;

  .dz-progress {
    display: none;
  }

  .dropzone .dz-preview.dz-image-preview {
    background: none;
  }

  .react-datepicker-wrapper,
  .react-datepicker__input-container {
    width: 100%;
  }

  h4 > span {
    color: var(--error);
    font-size: 12px;
  }

  .add-event {
    padding: 14px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    margin-bottom: 14px;
    margin-top: 7px;
    position: relative;

    .event-action {
      text-align: center;
    }
  }

  .option {
    padding: 14px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    margin-bottom: 14px;
    margin-top: 7px;
    position: relative;

    .option-title {
      margin-bottom: 7px;
      text-transform: uppercase;
      color: var(--primary);
    }

    svg {
      position: absolute;
      right: 14px;
      top: 14px;
      cursor: pointer;
      margin-right: 0;
    }
  }

  .add-option {
    text-align: center;
    margin-bottom: 8px;
  }
}
