$desktop: 1280px;

.addresses {
  border: 0;

  @media screen and (min-width: $desktop) {
    border: 1px solid var(--grey);
  }

  .head {
    padding: 8px;
    border-bottom: 2px solid var(--primary);
    min-height: 50px;

    @media screen and (min-width: $desktop) {
      padding: 16px;
    }

    p {
      font-size: var(--font_small);
      margin-top: 7px;
    }
  }

  .body {
    position: relative;
    padding-top: 8px;

    @media screen and (min-width: $desktop) {
      padding-top: 16px;
    }

    .address {
      padding: 8px;
      margin-bottom: 16px;
      border-radius: 5px;
      border: 1px solid #eb760f;
      position: relative;

      @media screen and (min-width: $desktop) {
        padding: 16px;
      }

      svg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 16px;
        margin: auto;
        cursor: pointer;
        color: var(--error);
      }
    }
  }

  h3 {
    margin-top: 0;
  }

  .address-card {
    border: 1px solid var(--primary);
    border-radius: 10px;
    padding: 14px;
    position: relative;
    margin-bottom: 14px;
  }
}
