$desktop: 1280px;

.addresses {
  border: 0;

  @media screen and (min-width: $desktop) {
    border: 1px solid var(--grey);
  }

  .head {
    padding: 8px;
    border-bottom: 2px solid var(--primary);
    min-height: 50px;

    @media screen and (min-width: $desktop) {
      padding: 16px;
    }

    p {
      font-size: var(--font_small);
      margin-top: 7px;
    }
  }

  .body {
    position: relative;
    padding-top: 8px;

    @media screen and (min-width: $desktop) {
      padding-top: 16px;
    }
  }

  h3 {
    margin-top: 0;
  }

  .address-card {
    border: 1px solid var(--primary);
    border-radius: 10px;
    padding: 14px;
    position: relative;
    margin-bottom: 14px;

    i {
      position: absolute;
      right: 14px;
      top: 14px;
      color: var(--error);
      cursor: pointer;
    }
  }
}
