$desktop: 1280px;

.review-form {
  .stars {
    margin-bottom: 8px;
    color: var(--gray_light);
    font-size: 2em;
    text-align: center;

    .active {
      color: var(--warning);
    }

    svg:hover {
      cursor: pointer;
    }
  }

  button {
    margin-top: 8px;

    @media screen and (min-width: $desktop) {
      margin-top: 16px;
    }
  }
}
