.income-table {
  td {
    text-align: center;

    &:first-child {
      text-align: left;
    }
    
    img {
      display: inline-block;;
    }

    .info {
      display: inline-block;
      padding-left: 8px;
    }

    h4, a {
      color: var(--primary);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
