.store-order-table {
  .image {
    vertical-align: middle !important;
  }

  a {
    color: var(--primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  select {
    height: 40px;
    width: 100%;
    margin-bottom: 8px;
  }
}
