$desktop: 1280px;

#user-layout {
  width: 100%;
  height: 100%;

  .layout-content {
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: auto;

    @media screen and (min-width: $desktop) {
      
      // 3NAV
      // height: calc(100% - 171px);

      // 2NAV
      height: calc(100% - 121px); 
    }
  }
}
