$desktop: 1280px;

#user-layout {
  width: 100%;
  height: 100%;

  .layout-content {
    width: 100%;
    padding-top: 58px;
    padding-bottom: 58px;
    overflow-y: auto;
    min-height: auto;
    height: 100%;

    @media screen and (min-width: $desktop) {
      padding-bottom: 0;
      padding-top: 121px;
      min-height: calc(100vh - 121px);
    }
  }
}
