.chat {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: var(--primary_light);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0 7px 7px;
  border-radius: 10px;
  z-index: 88;

  .chat-name {
    width: 100%;
    color: var(--white);
    display: block;

    h4 {
      padding: 7px 0;
      text-align: center;
      position: relative;

      svg {
        position: absolute;
        right: 7px;
        cursor: pointer;
      }
    }
  }

  .messages {
    display: inline-block;
  }

  .lists {
    height: 300px;
    width: 100%;
    background-color: var(--white);
    overflow: hidden auto;
    margin-bottom: 7px;

    .message {
      padding: 7px;
    }
  }

  form {
    padding: 0;

    textarea {
      border-radius: 5px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      width: 386px;
      padding: 7px;
      border: none;
      outline: none;
      min-height: auto;
    }
  }
}

.message-icon {
  i.inverted.bordered.icon,
  i.inverted.circular.icon {
    background-color: var(--primary-light) !important;
    cursor: pointer;

    &:hover {
      background-color: var(--primary) !important;
    }
  }
}
