$desktop: 1280px;

.seller {
  border: none;

  @media screen and (max-width: $desktop) {
    border: 1px solid var(--grey);
  }

  .head {
    padding: 8px;
    border-bottom: 2px solid var(--primary);
    min-height: 50px;

    @media screen and (max-width: 767px) {
      padding: 16px;
    }

    p {
      font-size: var(--font_small);
      margin-top: 7px;
    }
  }

  .body {
    position: relative;
  }

  h3 {
    margin-top: 0;
  }
}
