$desktop: 1280px;

#cart-page {
  width: 100%;
  padding: 16px 0;

  @media screen and (min-width: $desktop) {
    padding: 24px 0;
  }

  .table-responsive {
    overflow-y: scroll;
  }

  table {
    margin-bottom: 8px;

    @media screen and (min-width: $desktop) {
      margin-bottom: 16px;
    }

    td {
      p.no-item {
        text-align: center;
        color: var(--gray_light);
      }

      span {
        margin-left: 8px;
      }
    }

    .quantity-input {
      display: flex;
      align-items: center;

      button {
        width: 40px;
        display: inline-block;
      }

      input {
        width: 60px;
        margin: 0 8px;
        text-align: center;
      }
    }
  }

  .cart-total {
    text-align: right;
    padding: 8px;
    margin-bottom: 8px;
    background-color: var(--white);

    @media screen and (min-width: $desktop) {
      padding: 16px;
      margin-bottom: 16px;
    }

    h4, h3 {
      min-width: 100px;
      display: inline-block;

      @media screen and (min-width: $desktop) {
        min-width: 250px;
      }
    }

    h3 {
      color: var(--primary);
    }
  }

  .addresses {
    padding: 8px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    margin-bottom: 8px;

    @media screen and (min-width: $desktop) {
      padding: 16px;
      margin-bottom: 16px;
    }

    h4 {
      margin-bottom: 8px;

      @media screen and (min-width: $desktop) {
        margin-bottom: 16px;
      }
    }

    input[type=radio] {
      width: auto;
      margin-right: 8px;
    }
  }
}
