$desktop: 1280px;

.history {
  border: none;

  @media screen and (min-width: $desktop) {
    border: 1px solid var(--grey);
  }

  .head {
    padding: 8px;
    border-bottom: 2px solid var(--primary);
    min-height: 50px;

    @media screen and (min-width: $desktop) {
      padding: 16px;
    }

    p {
      font-size: var(--font_small);
      margin-top: 8px;
    }
  }

  .body {
    padding: 0;
    position: relative;
  }

  h3 {
    margin-top: 0;
  }
}
