$desktop: 1280px;

.profile {
  border: none;

  @media screen and (min-width: $desktop) {
    border: 1px solid var(--grey);
  }

  .head {
    padding: 8px;
    border-bottom: 2px solid var(--primary);
    min-height: 50px;
    position: relative;

    @media screen and (min-width: $desktop) {
      padding: 16px;
    }

    p {
      font-size: var(--font_small);
      margin-top: 7px;
    }

    svg {
      position: absolute;
      right: 0;
      top: 0;
      padding: 8px;
      cursor: pointer;
      outline: none;
      font-size: 20px;

      @media screen and (min-width: $desktop) {
        padding: 16px;
      }

      &:hover {
        color: var(--primary);
      }
    }
  }

  .body {
    position: relative;
  }

  h3 {
    margin-top: 0;
  }

  .avatar {
    text-align: center;

    img {
      width: 100px;
      height: 100px;
      min-height: 100px;
      background-color: var(--gray);
      border-radius: 50%;
      margin: 8px 0;

      @media screen and (min-width: $desktop) {
        width: 150px;
        height: 150px;
        min-width: 150px;
        min-height: 150px;
        margin: 0 0 16px 0;
      }
    }
  }
}
