@import url('https://fonts.googleapis.com/css?family=Sarabun:400,600&display=swap');
@import '~react-datepicker/dist/react-datepicker.css';
@import '~react-dropzone-component/styles/filepicker.css';
@import '~dropzone/dist/min/dropzone.min.css';
@import '~react-image-gallery/styles/scss/image-gallery.scss';
@import '~antd/dist/antd.css';

@import './variables/colors';
@import './variables/fonts';
@import './variables/devices';

@import './components/typo';
@import './components/layout';
@import './components/form';
@import './components/button';
@import './components/table';

html, body, #root {
  width: 100%;
  height: 100%;

  font-family: 'Sarabun', sans-serif;
}
