$desktop: 1280px;

.countdown-timer {
  .unit {
    background-color: var(--primary);
    color: var(--white);
    margin-right: 4px;
    width: 40px;
    display: inline-block;

    @media screen and (min-width: $desktop) {
      width: 55px;
    }
  }

  h3 {
    font-size: 20px;
    text-align: center;

    @media screen and (min-width: $desktop) {
      font-size: 30px;
    }
  }

  p {
    text-align: center;
    font-size: var(--font_small);

    @media screen and (min-width: $desktop) {
      font-size: 16px;
    }
  }
}
