$desktop: 1280px;

.countdown-timer {
  text-align: center;

  .unit {
    background-color: var(--primary);
    color: var(--white);
    margin-right: 4px;
    width: 32px;
    display: inline-block;

    @media screen and (min-width: $desktop) {
      width: 51px;
    }

    &:last-child {
      margin-right: 0;
    }

    h3 {
      font-size: 20px;
      text-align: center;
      padding: 0 !important;
      text-align: center !important;
      margin-bottom: 0 !important;
      color: var(--white) !important;

      @media screen and (min-width: $desktop) {
        font-size: 30px;
      }
    }

    p {
      text-align: center;
      font-size: var(--font_small);

      @media screen and (min-width: $desktop) {
        font-size: 16px;
      }

      &.time {
        color: var(--white) !important;
        margin: 0 !important;
      }
    }
  }
}
