$desktop: 1280px;

#home-page {
  width: 100%;

  @media screen and (min-width: $desktop) {
    padding: 24px 0;
  }

  h3 {
    text-align: center;
    padding: 8px 0;
    border-bottom: 2px solid var(--primary);
  }

  .row {
    margin-bottom: 16px;

    @media screen and (min-width: $desktop) {
      margin-bottom: 24px;
    }
  }

  .highlight {
    width: 100%;

    @media screen and (min-width: $desktop) {
      width: calc(50% - 32px);
      display: inline-block;
      vertical-align: top;
      padding: 0 16px;
    }

    .image-gallery-image {
      text-align: center;
      max-height: 300px;

      img {
        max-height: 300px;
        width: auto;
      }

      @media screen and (min-width: $desktop) {
        max-height: 560px;

        img {
          max-height: 560px;
        }
      }
    }
  }

  .recommended-products {
    .product {
      padding: 8px;

      a {
        display: block;
        text-decoration: none;
        color: var(--black);

        .image {
          width: 100px;
          height: 100px;
          display: inline-block;
          vertical-align: middle;
          background-size: cover;
          background-position: center;
          background-color: var(--gray_light);
          position: relative;

          .no-item {
            position: absolute;
            z-index: 1;
            width: 30px;
            top: 0;
            right: 0;
            padding: 8px;
            text-align: center;
            background-color: var(--gray);
            color: var(--white);
            font-size: var(--font_small);
          }
        }

        .info {
          display: inline-block;
          padding-left: 8px;

          h4 {
            color: var(--primary);
          }
        }

        .price {
          color:var(--gray_light);
          margin-right: 8px;
        }
      }
    }
  }

  .categories {
    width: 100%;

    @media screen and (min-width: $desktop) {
      width: 25%;
      display: inline-block !important;
      // box-shadow: 2px 2px 5px var(--primary_light);
      -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.2);
      -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.2);
      box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.2);

      &.mobile {
        display: none !important;
      }
    }

    ul {
      display: block;

      li {
        line-height: 24px;
        padding: 8px;
        position: relative;
        border-bottom: 1px solid var(--primary_soft);
        background-color: white;

        @media screen and (min-width: $desktop) {
          padding: 9px 16px;

          &:hover {
            .sub-cats {
              display: block !important;
              position: absolute;
              top: 0;
              right: -251px;
              min-width: 250px;
              // box-shadow: 2px 2px 5px var(--primary_light);
              -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.2);
              -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.2);
              box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.2);
              z-index: 1;
            }
          }
        }

        &:last-child {
          border-bottom: none;
        }

        a {
          background-color: white;
          color: var(--black);
          text-decoration: none;
          display: block;

          &:hover {
            color: var(--primary);
          }
        }
      }
    }

    ul.sub-cats {
      display: none !important;
    }

    .select-category {
      padding: 8px;

      @media screen and (min-width: $desktop) {
        padding: 16px;
      }

      select {
        width: 100%;
        height: 40px;
        background-color: white;
        border-radius: 5px;
        border: 1px solid var(--primary);
        padding: 8px;

        @media screen and (min-width: $desktop) {
          padding: 16px;
        }
      }

      button {
        margin-top: 8px;

        @media screen and (min-width: $desktop) {
          margin-top: 16px;
        }
      }
    }

    .scroll-responsive {
      overflow: auto;

      .categories-menu {
        display: flex;
        align-items: flex-end;
        min-height: 130px;
        padding: 8px 0;

        a {
          min-width: 130px;
          max-width: 130px;
          text-align: center;
          color: var(--black);
          text-decoration: none;
          font-size: 0.8em;
          align-self: baseline;
        }

        svg {
          font-size: 93px;
          color: var(--gray_light);
        }
      }
    }
  }

  .recommended {
    width: 100%;

    @media screen and (min-width: $desktop) {
      width: 25%;
      display: inline-block;
      vertical-align: top;
      // box-shadow: 2px 2px 5px var(--primary_light);

      -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.2);
      -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.2);
      box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.2);
    }
  }

  .events, .products {
    width: 100%;

    .column {
      display: inline-block;
      vertical-align: top;
    }

    h3 {
      text-align: left;
      padding: 8px;
      position: relative;

      @media screen and (min-width: $desktop) {
        padding: 8px 16px;
      }

      a {
        position: absolute;
        right: 0;
        font-size: 16px;
        text-decoration: none;
        color: var(--primary);
        padding: 8px;
        font-weight: 300;
      }
    }

    p.no-item {
      text-align: center;
      margin-top: 8px;
      color: var(--gray_light);
    }
  }

  .column {
    width: calc(100% / 2);
    display: inline-flex;

    @media screen and (min-width: $desktop) {
      width: calc(100% / 5);
    }
  }
}

.theme-dark {
 #home-page {
   background-color: var(--black);

   h3 {
    background-color: var(--black);
    border-bottom-color: var(--secondary);
  }
 }

  .categories .cats {
    li, a {
      background-color: var(--black) !important;
    }
  }

  .highlight .image-gallery-image {
    background-color: var(--primary_light);
  }
}


// Image Gallery
.image-gallery-fullscreen-button::before, .image-gallery-left-nav::before, .image-gallery-play-button::before, .image-gallery-right-nav::before {
  text-shadow: none;
}
.image-gallery-bullets .image-gallery-bullet {
    width: 1em;
    height: 1em;
}
.image-gallery-bullets .image-gallery-bullet.active {
  width: 1em;
  height: 1em;
  background: #fff;
}
