$desktop: 1280px;

#home-page {
  width: 100%;

  @media screen and (min-width: $desktop) {
    padding: 24px 0;
  }

  h3 {
    text-align: center;
    padding: 8px 0;
    border-bottom: 2px solid var(--primary);
  }

  .row {
    margin-bottom: 16px;

    @media screen and (min-width: $desktop) {
      margin-bottom: 24px;
    }
  }

  .highlight {
    width: 100%;

    @media screen and (min-width: $desktop) {
      width: calc(50% - 32px);
      display: inline-block;
      vertical-align: top;
      padding: 0 16px;
    }
  }

  .categories {
    width: 100%;

    @media screen and (min-width: $desktop) {
      width: 25%;
      display: inline-block !important;
      box-shadow: 2px 2px 5px var(--primary_light);

      &.mobile {
        display: none !important;
      }
    }

    ul {
      display: block;

      li {
        line-height: 24px;
        padding: 8px;
        position: relative;
        border-bottom: 1px solid var(--primary);
        background-color: white;

        @media screen and (min-width: $desktop) {
          padding: 9px 16px;

          &:hover {
            .sub-cats {
              display: block !important;
              position: absolute;
              top: 0;
              right: -251px;
              min-width: 250px;
              box-shadow: 2px 2px 5px var(--primary_light);
            }
          }
        }

        &:last-child {
          border-bottom: none;
        }

        a {
          background-color: white;
          color: var(--black);
          text-decoration: none;
          display: block;

          &:hover {
            color: var(--primary);
          }
        }
      }
    }

    ul.sub-cats {
      display: none !important;
    }

    .select-category {
      padding: 8px;

      @media screen and (min-width: $desktop) {
        padding: 16px;
      }

      select {
        width: 100%;
        height: 40px;
        background-color: white;
        border-radius: 5px;
        border: 1px solid var(--primary);
        padding: 8px;

        @media screen and (min-width: $desktop) {
          padding: 16px;
        }
      }

      button {
        margin-top: 8px;

        @media screen and (min-width: $desktop) {
          margin-top: 16px;
        }
      }
    }
  }

  .recommended {
    width: 100%;

    @media screen and (min-width: $desktop) {
      width: 25%;
      display: inline-block;
      vertical-align: top;
      box-shadow: 2px 2px 5px var(--primary_light);
    }
  }

  .events, .products {
    width: 100%;

    h3 {
      text-align: left;
      padding: 8px;

      @media screen and (min-width: $desktop) {
        padding: 8px 16px;
      }
    }
  }

  .column {
    width: calc(100% / 2);
    display: inline-flex;

    @media screen and (min-width: $desktop) {
      width: calc(100% / 5);
    }
  }
}
