.chat.seller {
  position: fixed;
  bottom: 14px;
  right: 14px;
  background-color: var(--primary_light);
  padding: 0 7px 7px;
  border-radius: 10px;
  z-index: 88;

  svg {
    position: absolute;
    right: 0;
  }

  .chat-name {
    width: 100%;
    color: var(--white);
    display: block;

    h4 {
      padding: 7px 0;
      text-align: center;
      position: relative;

      i {
        position: absolute;
        right: 7px;
        cursor: pointer;
      }
    }
  }

  .messages {
    width: 400px;
    display: flex;

    .customers {
      width: 100px;
    }

    ul {
      display: block;
    }

    li {
      padding: 5px;
      word-wrap: break-word;
      cursor: default;

      &.active {
        background-color: var(--white)
      }
    }

    .lists {
      height: 300px;
      width: 100%;
      background-color: var(--white);
      overflow: hidden auto;
      margin-bottom: 7px;

      .message {
        padding: 7px;
      }
    }
  }

  textarea {
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 386px;
    padding: 7px;
    border: none;
    outline: none;
    min-height: auto;
  }
}

.message-icon {
  position: fixed;
  bottom: 14px;
  right: 14px;
  background-color: var(--primary_light);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;

  svg {
    padding: 10px;
    font-size: 30px;
    color: var(--white);
  }
}
