$desktop: 1280px;

#signin-page {
  width: 100%;
  padding: 16px 0;

  @media screen and (min-width: $desktop) {
    padding: 24px 0;
  }
}

.theme-dark {
  #signin-form {
    background-color: var(--primary);
  }

  span {
    color: var(--white);
  }

  button {
    background-color: var(--primary_light) !important;
  }
}
