$desktop: 1280px;

.products-table {
  overflow-x: hidden;

  ul {
    display: block;
    list-style: circle;
  }

  .image {
    width: 100px;
    height: 100px;
    background-color: var(--gray);
    background-size: cover;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
  }

  .info {
    display: inline-block;
    padding-left: 8px;

    a {
      color: var(--primary);
      text-decoration: none;
    }
  }
}
