.order-table {
  td {
    text-align: center;

    ul {
      display: block;
      text-align: left;
    }
  }

  a {
    color: var(--primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
