$desktop: 1280px;

#event-card {
  width: 100%;
  padding: 8px;
  text-decoration: none;

  &:visited {
    color: var(--black);
  }

  .image {
    background-position: center;
    background-size: cover;
    background-color: var(--gray_light);
    width: 100%;
    height: 150px;
    margin-bottom: 8px;
    margin: auto;

    @media screen and (min-width: $desktop) {
      height: 200px;
    }
  }

  p, h4 {
    color: var(--primary);
    text-align: center;

    &.date {
      font-size: var(--font_small);
      margin-top: 0 !important;
      color: var(--gray_light) !important;
    }

    &.location {
      margin-top: 0 !important;
      color: var(--black) !important;
    }
  }
}
