$desktop: 1280px;

.wallet {
  border: none;

  @media screen and (min-width: $desktop) {
    border: 1px solid var(--grey);
  }

  .head {
    padding: 8px;
    border-bottom: 2px solid var(--primary);
    min-height: 50px;

    @media screen and (min-width: $desktop) {
      padding: 16px;
    }

    p {
      font-size: var(--font_small);
      margin-top: 7px;
    }
  }

  .body {
    position: relative;
  }

  .card-card {
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 14px;
    margin-bottom: 14px;
    position: relative;

    span {
      position: absolute;
      right: 14px;
      padding: 8px;
      top: calc((100% - 37px) / 2);
      cursor: pointer;

      i {
        font-size: 1.5rem;
        margin-right: 0;
        color: var(--error);
      }
    }
  }

  h3 {
    margin-top: 0;
  }

  button {
    margin-top: 8px;

    @media screen and (min-width: $desktop) {
      margin-top: 16px;
    }
  }
}
