$desktop: 1280px;

.seller-form {
  text-align: left;
  padding: 0;

  textarea {
    margin-top: 8px;

    @media screen and (min-width: $desktop) {
      margin-top: 16px
    }
  }

  button {
    margin-bottom: 8px;

    @media screen and (min-width: $desktop) {
      margin-bottom: 16px
    }
  }

  input[type='checkbox'] {
    padding-right: 8px;
    width: auto;
    margin-top: 8px;
  }
}
