$desktop: 1280px;

.reviews {
  border: none;

  @media screen and (min-width: $desktop) {
    border: 1px solid var(--grey);
  }

  .head {
    padding: 8px;
    border-bottom: 2px solid var(--primary);
    min-height: 50px;
    position: relative;

    @media screen and (min-width: $desktop) {
      padding: 16px;
    }

    p {
      font-size: var(--font_small);
      margin-top: 7px;
    }

    svg {
      position: absolute;
      right: 0;
      top: 0;
      padding: 8px;
      cursor: pointer;
      outline: none;
      font-size: 20px;

      @media screen and (min-width: $desktop) {
        padding: 16px;
      }

      &:hover {
        color: var(--primary);
      }
    }
  }

  .body {
    position: relative;
  }

  h3 {
    margin-top: 0;
  }

  .rating {
    text-align: center;
    margin-top: 8px;

    @media screen and (min-width: $desktop) {
      margin-top: 16px;
    }
  }

  .star {
    font-size: 2em;

    svg {
      color: var(--gray_light);

      &.active {
        color: var(--warning);
      }
    }
  }

  .comment {
    padding: 8px 0;
    border-bottom: 1px solid var(--gray_light);

    @media screen and (min-width: $desktop) {
      padding: 16px 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    img {
      width: 50px;
      height: 50px;
      display: inline-block;
      vertical-align: middle;
    }

    .content {
      display: inline-block;
      padding-left: 8px;
      vertical-align: middle;

      h4 {
        display: inline-block;
        color: var(--primary);
      }

      .product {
        color: var(--gray_light);
        font-size: var(--font_small);
        display: inline-block;
        padding-left: 8px;
      }
    }
  }
}
