$desktop: 1280px;

.reviews {
  border: none;

  @media screen and (min-width: $desktop) {
    border: 1px solid var(--grey);
  }

  .head {
    padding: 8px;
    border-bottom: 2px solid var(--primary);
    min-height: 50px;

    @media screen and (min-width: $desktop) {
      padding: 16px;
    }

    p {
      font-size: var(--font_small);
      margin-top: 8px;
    }
  }

  .body {
    padding: 0;
    position: relative;
  }

  h3 {
    margin-top: 0;
  }

  .address-card {
    border: 2px solid var(--black);
    border-radius: 10px;
    padding: 14px;
    position: relative;

    i {
      position: absolute;
      right: 14px;
      top: 14px;
      color: var(--error);
      cursor: pointer;
    }
  }

  .rating {
    text-align: center;

    .ui.massive.rating {
      font-size: 2em !important;
    }
  }
}
