#root {
  --black: #212121;
  --white: #f6f6f6;

  --gray: #707070;
  --gray_light: #c1bebe;

  --success: #2ecc71;
  --success_dark: #149349;

  --error: #ee4733;
  --error_dark: #c33527;

  --warning: #f7cb19;
  --warning_dark: #cca504;
}

.theme-orange {
  --primary: #eb760f;
  --primary_gradient: linear-gradient(to right, #eb760f, #e4720f, #dd6f0e, #d76b0e, #d0680d);
  --primary_light: #f59d1f;
  --primary_dark: #da1a32;
  --primary_soft: #ffe1c6;
  --primary_white: white;

  background-color: white;
}

.theme-dark {
  --primary: var(--black);
  --primary_light: #2f2f2f;
  --primary_dark: var(--black);
  --primary_white: var(--black);

  --secondary: rgb(247, 202, 24);

  background-color: var(--primary_light);
}
