$desktop: 1280px;

.address-form {
  padding: 0;
  width: 100%;

  button {
    color: var(--white);
    margin-bottom: 8px;

    @media screen and (min-width: $desktop) {
      margin-bottom: 16px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  input.error {
    border-bottom-color: var(--error);
  }
}
