$desktop: 1280px;

.profile {
  border: none;

  @media screen and (min-width: $desktop) {
    border: 1px solid var(--grey);
  }

  .head {
    padding: 8px;
    border-bottom: 2px solid var(--primary);
    min-height: 50px;

    @media screen and (min-width: $desktop) {
      padding: 16px;
    }

    p {
      font-size: var(--font_small);
      margin-top: 7px;
    }

    i.icon.edit {
      margin-right: 0;
      position: absolute;
      right: 30px;
      top: 24px;
      cursor: pointer;
      color: var(--primary);
      font-size: 1.5rem;

      &::before {
        padding: 7px;
      }
    }
  }

  .body {
    position: relative;
    padding-top: 8px;

    @media screen and (min-width: $desktop) {
      padding-top: 16px;
    }
  }

  h3 {
    margin-top: 0;
  }
}
