.footer {
  background-color: var(--primary);
  background-image: var(--primary_gradient);

  .container {
    display: flex;
    padding: 24px 0;
  }

  .column {
    flex-grow: 1;

    h4 {
      margin-bottom: 8px;
      color: var(--white);
    }

    ul {
      display: block;

      li {
        line-height: 35px;
      }
    }

    a {
      outline: none;
      color: var(--white);
      text-decoration: none;
    }

    svg {
      color: var(--white);
      font-size: 3em;
    }
  }
}
