#terms-of-service-page {
  padding: 24px 0;

  h4 {
    margin-top: 16px;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    margin-top: 8px;
  }

  ul {
    display: block;
    padding-left: 16px;
  }
}
