$desktop: 1280px;

#account-page {
  height: 100%;

  @media screen and (min-width: $desktop) {
    padding: 24px 0;
  }

  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;

    .menu {
      flex-grow: 1;
      height: 100%;
      max-width: 40px;
      padding-right: 8px;

      @media screen and (min-width: $desktop) {
        max-width: 230px;
        padding-right: 16px;
      }

      ul {
        display: block;

        li {
          line-height: 40px;
          background-color: var(--white);

          &:hover {
            background-color: var(--primary);
            color: var(--white);
          }

          a {
            display: block;
            text-decoration: none;
            color: var(--primary);
            padding: 0 8px;

            &:hover {
              color: var(--white);
            }
          }

          &:last-child {
            text-align: center;
            color: var(--primary);

            @media screen and (min-width: $desktop) {
              text-align: left;
            }
          }
        }
      }
    }

    .content {
      flex-grow: 1;
    }
  }
}

.theme-dark {
  a {
    background-color: var(--black);
    color: var(--secondary);
  }

  div.filepicker {
    background-color: var(--primary_light);
  }

  svg {
    color: var(--secondary);
  }

  .head {
    border-bottom-color: var(--secondary);
  }
}
