$desktop: 1280px;

.event-table {
  .no-item {
    text-align: center;
    color: var(--gray_light);
  }

  .image {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    background-color: var(--gray);
    vertical-align: middle !important;
  }

  .info {
    display: inline-block;
    padding-left: 8px;

    @media screen and (min-width: $desktop) {
      padding-left: 16px;
    }

    a {
      color: var(--primary);
      text-decoration: none;
    }
  }
}
