$desktop: 1280px;

#signin-form {
  max-width: 350px;
  width: 100%;
  margin: auto;
  padding: 8px 0;

  @media screen and (min-width: $desktop) {
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.2);
    padding: 0;
  }

  h2 {
    border-bottom: 2px solid var(--primary);
    padding: 8px;
    text-align: center;
  }

  button {
    background-color: var(--primary);
    color: var(--white);
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: var(--primary_dark);
    }

    &.google {
      background-color: #ea4336;

      svg {
        font-size: 20px;
        float: left;
      }

      &:hover {
        background-color: darken(#ea4336, 10%);
      }
    }
  }

  .register {
    text-align: center;
    padding-bottom: 8px;

    @media screen and (min-width: $desktop) {
      padding-bottom: 16px;
    }

    span {
      padding: 0 4px;
      font-size: 14px;

      a {
        color: var(--primary);
      }
    }
  }

  .social-signin {
    padding: 0 8px;

    @media screen and (min-width: $desktop) {
      padding: 16px;
    }
  }
}
