$desktop: 1280px;

#products-page {
  width: 100%;

  @media screen and (min-width: $desktop) {
    padding: 24px 0;
  }

  .products {
    width: 100%;

    h3 {
      text-align: left;
      padding: 8px;

      @media screen and (min-width: $desktop) {
        padding: 8px 16px;
      }
    }
  }

  .column {
    width: calc(100% / 2);
    display: inline-block;

    @media screen and (min-width: $desktop) {
      width: calc(100% / 5);
    }
  }

  p {
    text-align: center;
    color: var(--gray_light);
  }
}
