$desktop: 1280px;

.theme-dark #top-nav {
  background-color: var(--black);
}

#top-nav {
  color: var(--primary);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 999;

  @media screen and (min-width: $desktop) {
    color: var(--white);
    position: block;
  }

  .first {
    // background-color: var(--primary_dark);

    // tab new
    background-color: var(--primary);
    background-image: var(--primary_gradient);


    li {
      line-height: 40px;

      &.display {
        flex-grow: 3;
        text-align: left;

        span {
          cursor: pointer;
        }

        .size1 {
          font-size: 12px;
          padding: 0 8px;
        }

        .size2 {
          font-size: 14px;
          padding: 0 8px;
        }

        .size3, .sun, .moon {
          font-size: 16px;
          padding: 0 8px;
          width: 35px;
        }
      }

      &.empty {
        flex-grow: 15;
      }

      &.user {
        position: relative;
        cursor: pointer;

        &:hover {
          ul {
            display: block;
          }
        }

        ul {
          position: absolute;
          bottom: -40px;
          left: -100px;
          height: 100%;
          display: none;
          border-radius: 5px;
          z-index: 1;
          -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.2);
          -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.2);
          box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.2);

          li {
            width: 200px;
            line-height: 40px;
            text-align: left;
            padding: 8px 8px;
            background-color: white;
            cursor: pointer;
            color: var(--primary);
            border-bottom: solid 1px var(--primary_soft);

            &:hover {
              color: var(--primary_dark);
            }

            a {
              color: var(--primary);

              &:hover {
                color: var(--primary_dark);
              }
            }
          }
        }
      }
    }
  }
  .first-mobile {
    border-bottom: solid 1px var(--primary_soft);
  }

  .first-mobile .size1 {
    font-size: 12px;
    padding: 0 0px;
  }

  .first-mobile .size2 {
    font-size: 14px;
    padding: 0 0px;
  }

  .first-mobile .size3, .sun, .moon {
    font-size: 16px;
    padding: 0 0px;
  }

  .second {
    // background-color: var(--primary);
    // background-image: var(--primary_gradient);

    // tab new
    background-color: var(--primary_white);
    -webkit-box-shadow: 0px 4px 26px -5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 4px 26px -5px rgba(0,0,0,0.1);
    box-shadow: 0px 4px 26px -5px rgba(0,0,0,0.1);

    li {
      line-height: 80px;
      // tab new
      color: var(--primary);

      &.logo {
        flex-grow: 1;

        a {
          height: 80px;
          position: relative;

          img {
            height: 70%;
            vertical-align: middle;
          }
        }
      }

      &.search {
        flex-grow: 16;
        padding: 0 16px;
        position: relative;

        svg {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 16px;
          margin: auto;
          padding: 16px;
          color: var(--gray_light);
        }
      }
    }
  }

  .third {
    background-color: var(--primary_light);
  }

  li {
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;

    &.search {
      flex-grow: 1;
    }

    a {
      color: var(--primary);
      display: block;
      text-decoration: none;

      @media screen and (min-width: $desktop) {
        // color: var(--white);
        //tab new
        color: var(--primary_gradient);
        font-weight: 500;

      }
    }

    &.active a {
      background-color: white;
      color: var(--primary);

    }
  }

  .mobile-search {
    position: absolute;
    z-index: 999;
    width: 100%;

    input {
      margin-bottom: 0;
      border-bottom-width: 1px;
      padding: 0 8px;
      background-color: var(--white);
    }

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  .search-data {
    position: absolute;
    z-index: 10;
    background: var(--white);
    left: 0;
    right: 0;
    text-align: left;
    padding: 8px 16px;
    max-height: 300px;
    overflow: auto;

    p {
      line-height: 40px;
      color: var(--gray);
      text-transform: none;
      padding-left: 16px;

      &:hover {
        color: var(--primary);
      }
    }

    h4 {
      color: var(--gray);
      line-height: 40px;
    }

    span {
      padding: 3px 5px;
      border: 1px solid var(--gray_light);
      border-radius: 10px;
      background-color: var(--white);
      font-size: 0.8em;
      margin-right: 8px;
      cursor: pointer;
      color: var(--black);
      outline: none;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: var(--primary);
      }
    }
  }
}

.theme-dark {
  .first {
    li, a {
      background-color: var(--black) !important;
    }
  }

  .second {
    li.active a {
      background-color: var(--primary_light) !important;
    }
  }
}
